
/* index Page Styling Start*/

.container-txt{
    margin-top: 5rem;
    font-size: 1.3rem;
}
.container p{
    margin: 1rem 0;
    font-size: 0.8rem;
}
span {
    color:#FFA500;
}
.card {
    box-shadow: 1rem;
    border-radius: 0.7rem;
    width: 15%;
    height: 20%;
    background-color: white;
    float: left;
    margin:0.5rem;
}
.card-img  img {
    width: 100%;
    height: 60%;
    border-radius: 0.7rem 0.7rem 0 0;
}
.card-txt {
    margin: 0.7rem;
    font-size: 1rem;
}
.card-txt h3 {
    font-size: 0.8rem;
}
.card-txt p {
    margin-top: 0.3rem;
}
.fa-star , .fa-star-half-stroke {
    font-size: 0.7rem;
    color: gold;
}

/* Responsive Styling for Card */

@media (max-width:987.33px) {
    .card {
        margin-left: 1.5rem;
        width: 25%;
    }
}

/* 2nd code for Card Responsive */
@media(max-width:426px) {
    .card {
        width : 80%;
    }
}